@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary: #161616;
  --secondary: #eed5a2;
  --accent: #FFC107;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: white;
    scroll-behavior: smooth;
} 



.embla {
  overflow: hidden;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
  